<!-- {{brewery | json }}<br><br> -->
<div class="brewery-box">
    <div class="brewery-left">
        <div class="brewery-name">
            @if (brewery.website_url) {
            
                <a href="{{brewery.website_url}}" target="_blank">
                    <div class="d-inline-block align-middle me-2"><b>{{ brewery.name }}</b>&nbsp;
                    <svg class="mb-1" fill="none" height="20" width="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m10 6h-4c-1.10457 0-2 .89543-2 2v10c0 1.1046.89543 2 2 2h10c1.1046 0 2-.8954 2-2v-4m-4-10h6m0 0v6m0-6-10 10" stroke="#4a5568" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/></svg>
                    </div>
                </a>
            } @else {
                <div class="d-inline-block align-middle me-2"><b>{{ brewery.name }}</b></div>
            }
        </div>
        <div class="address">
            <br>
            <a href="https://maps.google.com/?q={{getBreweryAddress()}}" title="Find in Google Maps" target="_blank">
                <div class="d-inline-block">
                    @if(brewery.address_1) {
                        {{brewery.address_1}}<br>
                    }
                    @if(brewery.address_2) {
                        {{brewery.address_2}}<br>
                    }
                    @if(brewery.address_3) {
                        {{brewery.address_3}}<br>
                    }
                    {{brewery.city}}, {{brewery.state_province}} {{brewery.postal_code}}
                </div>
            </a>
        </div>
    </div>
    <div class="brewery-right">
        @if (brewery.phone) {
            <b>Phone: </b><a href="tel:{{brewery.phone}}">{{ brewery.phone.substring(0,3) + "." + brewery.phone.substring(3,6) + "." + brewery.phone.substring(6) }}</a>
            <br><br>
        }
        @if (brewery.brewery_type) {
            <b>Brewery Type: </b><span class="dashed-underline" title="{{breweryTypeString}}">{{ brewery.brewery_type }}</span>
            <br><br>
        }
        <!-- @if (brewery.website_url) {
            <a href="{{brewery.website_url}}" target="_blank">
                <div class="d-inline-block align-middle me-2">website</div>
                <svg class="" fill="none" height="16" width="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m10 6h-4c-1.10457 0-2 .89543-2 2v10c0 1.1046.89543 2 2 2h10c1.1046 0 2-.8954 2-2v-4m-4-10h6m0 0v6m0-6-10 10" stroke="#4a5568" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
            </a>
        } -->
    </div>
</div>

