<div class="w-100 text-center">
    @if (errorMessageDisplay) {
        <div class="text-danger"><br><br>{{errorMessageDisplay}}<br><br></div>
    } @else {
        <div class="small">
            This list loads {{perPage}} at a time. It loads more when you scroll to the bottom of the list.<br>
            (Please Note: some of this data is a little old. For demo purposes only.)
        </div>
    }
</div>
<div id="brewery-list">
    @if (breweries) {
        @for (brewery of breweries; track $index) {
            <app-brewery [breweryTypeString]="breweryTypes.get(brewery.brewery_type) || ''" [brewery]="brewery"></app-brewery>
        }
    }
</div>