* {
    color: #666666;
}
a {
    color: saddlebrown;
}

.content {
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid grey; */
    max-width: 767px;
}

header {
    /* border: 1px solid red; */
    h2 {
        text-align: center;
    }
    .author {
        font-size: small;
        display: flex;
        justify-content: flex-end;
    }
}
