<main class="main">
  <div class="content">
    <div class="container">
      <header>
        <h2>Wisconsin Breweries</h2>
        <div class="author">
          <div>
            <span>Infinite Scoll Demo by John Classen</span><br>
            <span>(using <a href="https://www.openbrewerydb.org" target="_blank">Open Brewery DB</a>)</span>
          </div>        
        </div>
      </header>
      <br>
      <app-brewery-list></app-brewery-list>
    </div>
  </div>
</main>
<router-outlet />
